.header{
    color: red!important;
    font-size: 25px;
    margin-top: 5%;

    
}

.btn{
    align-items: center;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 3%;
}

.weather-body{

}
.img{
    object-fit: contain;
    
}

.btn{
    box-shadow: 0 18px 25px 0 rgba(255, 255, 255, 0.2), 0 4px 8px 0!important;
    width:12vw;
    height: 10vh;
    font-size: 16px!important;
    border: none!important;
    padding: 2% 4% !important;
    border-radius: 8px !important;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-left:30%;
    margin-top:10%;
    background-color: transparent;
    color:rgb(20, 20, 20)!important;



}

.img-gif{
    object-fit: contain;
    width: 400px;
    height: 300px;
}