<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Weather App</title>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                {{>nabvar}}

            </div>

        </div>

    </div>

    <br>
    <br>
    <div class='container weather-body'>
        <div class="row">

            <div class="col-md-6 col-12">
                <img class="img-gif" src="https://media3.giphy.com/media/3ohhwsupwJyzktdgS4/source.gif">


            </div>

            <div class="col-12 col-md-6">
                <h4>Current & Forecast weather data collection
                </h4>
                <br>
                <p>Please sign up and use our fast and easy-to-work weather APIs for free. Look at our monthly
                    subscriptions for more options rather than the Free account that we provide you. Read How to start
                    first and enjoy using our powerful weather APIs.</h6>




            </div>


        </div>


    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>